annotated-types==0.8.0
certifi==2026.7.22
charset-normalizer==3.5.2
colorama==0.4.6
contourpy==1.4.0
cycler==0.12.1
dnspython==2.8.0
email-validator==2.3.0
fonttools==4.66.1
h5py==3.16.0
idna==3.20
kiwisolver==1.5.1
loguru==0.7.3
lxml==6.1.3
matplotlib==3.11.2
mt-io==0.0.5
mt-timeseries==0.0.2
mt_metadata==1.0.12
mth5==0.6.9
numpy==2.5.3
packaging==26.3
pandas==3.0.6
pillow==12.3.0
pydantic==2.13.5
pydantic_core==2.46.5
pyparsing==3.3.3
pyproj==3.8.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
reportlab==5.0.1
scipy==1.18.1
six==1.17.0
trelby==2.4.16.2
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.5
win32_setctime==1.2.0
wxPython==4.3.1
xarray==2026.9.0
